{# templates/emails/signup.html.twig #}


    <table style="font-family:'Montserrat',sans-serif;" role="presentation" cellpadding="0" cellspacing="0" width="100%" border="0">
        <tbody>
        <tr>
            <td class="v-container-padding-padding" style="overflow-wrap:break-word;word-break:break-word;padding:10px;font-family:'Montserrat',sans-serif;" align="left">

                <div class="v-text-align" style="color: #413b3b; line-height: 210%; text-align: left; word-wrap: break-word;">
                    <p style="font-size: 14px; line-height: 210%;">
                        <span style="font-size: 16px; line-height: 33.6px;">
                            Your temp password is:
                        </span>
                    </p>
                    <p style="font-size: 14px; line-height: 210%;">&nbsp;</p>
                    <p style="font-size: 14px; line-height: 210%;">
                        <span style="font-size: 16px; line-height: 33.6px;">
                            <code>{{ code }}</code>
                        </span>
                    </p>
                </div>

            </td>
        </tr>
        </tbody>
    </table>